<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text">
        <a href="/" title="US Digital Registry" aria-label="DIGITAL REGISTRY HOME">
          <img class="logo-black" src="/assets/usdr-logo.png" alt="US DIGITAL REGISTRY" />
        </a>
      </em>
    </div>

    <button class="usa-menu-btn"><i class="fas fa-bars"></i> Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="/assets/uswds/img/close.svg" alt="close">
      </button>
    </div>
  </nav>
</header>
